__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.DS_Store
*.tmp
_nb_sources.txt
_nb_outputs.txt
_cnn_sources.txt
_cnn_outputs.txt
_pipeline_sources.txt
_pipeline_outputs.txt

# Exclude raw datasets and temporary folders
2020YOLO/
Dataset 1 (Simplex)/
Neha Pothole and normal dataset/
Neha_v3_top_FPs/
Pothole_Segmentation_YOLOv8/
pothole_model_v3_export/
train_df.csv
PotholeDataset.pdf
